<header class="site-header">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <a class="logo" href="/" aria-label="Xperfecta home">
  <img src="/assets/img/xperfecta-logo-white-v2.svg" alt="Xperfecta Logo"/>
  </a>

  <nav class="site-nav" aria-label="Primary">
    <a href="/about.html">About us</a>
    <a href="/contact.html">Contact us</a>
    <a href="/team.html">Our team</a>
  </nav>
  <!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.sublimecyb.org/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
</header>
